main {
  height: 340px;

  .item-list {
    height: 300px;
    padding: 0px;
    overflow: auto;
  }

  .item-wrapper {
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 6px;
    padding: 10px 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

    >:first-child>* {
      margin: 0px;

    }

    h4 {
      font-weight: 600;
      cursor: pointer;
      user-select: none;
    }

    p {
      margin-top: 5px !important;
      color: rgb(128, 128, 128);
      font-style: italic;
    }

    #btn-delete {
      cursor: pointer;

      &:hover {
        color: rgb(240, 0, 0);
      }
    }
  }

  p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(128, 128, 128);
  }
}