@use 'base';
@use 'header';
@use 'main';
@use 'form-add';
$color-main: #f8fafd;
$color-dark: #0d1f52;


.darkTheme {
  background-color: $color-dark  !important;
  color: $color-main;

  .priority-task {
    border: 0.5px solid $color-main;
  }

  .form-add {
    box-shadow: rgb(255, 255, 255) 0px 0px 4px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 95%;
  max-width: 350px;
  border-radius: 24px;
  font-family: 'Montserrat', sans-serif;
  background: $color-main;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.priority-task {
  border: 0.5px solid $color-dark;
}