$default-button-color: #7AAEC4;
$hover-default-button-color: rgba(132, 132, 255, 0.849);
$delete-button-color: #b33f41;
$hover-delete-button-color: rgba(255, 19, 19, 0.74);
$submit-button-color: rgb(194, 194, 194);
$hover-submit-button-color: rgb(206, 206, 206);

// DONT FORGET: create mixins
@mixin button-default($background-color, $hover-backrgound-color) {
  background-color: $background-color;
  color: rgb(234, 250, 250);
  padding: 8px 10px;
  border: none;
  border-radius: 6px;
  width: 100px;
  cursor: pointer;

  &:hover {
    background-color: $hover-backrgound-color;
  }
}

.button-default {
  @include button-default($default-button-color, $hover-default-button-color);
}

.button-delete {
  @include button-default($delete-button-color, $hover-delete-button-color);
}

.priority-task {
  color: red;
}

// Add Form
.form-add {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-control {
  label {
    display: block;
  }

  input {
    width: 100%;
    height: 30px;
  }
}

.button-submit {
  background: $submit-button-color;
  padding: 5px 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background: $hover-submit-button-color;
  }
}